*{
    margin:0;
    padding:0;
}
body {
    background-image: url("websitebackground.jpg");
    }
#wrapper{
    margin-bottom: 400px;
    width:1280px;
    margin:0 auto;
    position:relative;
    z-index:999;
}
#content { 
   display:flex; 
   justify-content:space-around; 
   color:white;
   position:flex;
   flex-flow: row wrap;
   width:100%; 
   margin-top:400px;
} 

#timpic img{
    padding-top:20px;
    display: block;
    width: 400px;
    height: 200px;
}

.styleImage
{
    opacity:.9;
    margin:0;
    width: 300px;
    height: 180px;
    border: solid 10px black;
}
#streams{
   
 
}
#streams img{
        

}
#streams2{
   

}
#streams2 img{
    

}
#streams3{
  

}
#streams3 img{
    
}
#streams4{
   

}
#streams4 img{
    

}

