*{
    margin:0;
    padding:0;
}
body {
    background-image: url("websitebackground.jpg");
    }
#wrapper{
    margin-bottom: 400px;
    width:1280px;
    margin:0 auto;
    position:relative;
    z-index:999;
}
#content { 
   display:flex; 
   justify-content:space-around; 
   color:white;
   position:flex;
   flex-flow: row wrap;
   width:100%; 
   margin-top:400px;
} 

#timpic img{
    padding-top:20px;
    display: block;
    width: 400px;
    height: 200px;
}

.styleImage
{
    opacity:.9;
    margin:0;
    width: 300px;
    height: 180px;
    border: solid 10px black;
}
#streams{
   float:left;
   position:relative;
   bottom:10px;
   left:320px;
}
#streams img{
    position:relative;
    width:250px;
    height:130px;
    left:115px;
}
#streams2{
   float:right;
   position:relative;
   bottom:10px;
   right:300px;
}
#streams2 img{
    position:relative;
    width:250px;
    height:130px;
    left:115px;
}
#streams3{
   float:left;
   position:relative;
   top:420px;
   right:202px;
}
#streams3 img{
    position:relative;
    width:250px;
    height:130px;
    left:115px;
}
#streams4{
   float:right;
   position:relative;
   bottom:10px;
   right:300px;
}
#streams4 img{
    position:relative;
    width:250px;
    height:130px;
    left:115px;
}
#socialMedia{
    position:relative;
    display:flex;
    height:200px;
    bottom:20px;
    width:200px;
    left:200px;
}
